################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/TinyHttpd_windows.sln
/TinyHttpd_windows.vcxproj
/TinyHttpd_windows.vcxproj.filters
/TinyHttpd_windows.vcxproj.user
